<div ng-show="status">
    <app-main-menu appname="{{appname}}" username="{{username}}"></app-main-menu>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>{{titulo}} <small>{{subtitulo}}</small></h3>
        </div>
        <div class="panel-body">
            <app-tool-bar new="true" view="true" edit="true" delete="true" status="true"></app-tool-bar>
            <div ng-bind-html="alert"></div>
            <app-grid-bar ng-show="formGrid" headers="TV,FONDO,DIRECCION,TIEMPO" registers="id,backcolor,playdirection,playtime"></app-grid-bar>
            <div class="form" ng-show="formForm">
                <input type="text" class="form-control" placeholder="Fondo" ng-model="backcolor"/>
                <input type="text" class="form-control" placeholder="00:00:00" ng-model="playtime"/>
                <select class="form-control" ng-model="playdirection">
                    <option value="ARRIBA">ARRIBA</option>
                    <option value="ABAJO">ABAJO</option>
                    <option value="DERECHA">DERECHA</option>
                    <option value="IZQUIERDA">IZQUIERDA</option>
                </select>
                <input type="button" class="btn btn-danger  btn-sm" ng-click="newCancel()"  ng-show="newCancelShow"  value="Cancelar"/>
                <input type="button" class="btn btn-success btn-sm" ng-click="newAcept()"   ng-show="newAceptShow"   value="Aceptar"/>
                <input type="button" class="btn btn-success btn-sm" ng-click="viewAcept()"  ng-show="viewAceptShow"   value="Aceptar"/>
                <input type="button" class="btn btn-danger  btn-sm" ng-click="editCancel()" ng-show="editCancelShow" value="Cancelar"/>
                <input type="button" class="btn btn-success btn-sm" ng-click="editAcpet()"  ng-show="editAceptShow"  value="Aceptar"/>
            </div>
        </div>
    </div>
</div>