<div ng-show="formView">
    <app-main-menu appname="{{appname}}" username="{{username}}"></app-main-menu>
    
    <!-- Formulario: Tabla de mensajes -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Administrar Mensajes<small> Lista de mensajes</small></h4>
        </div>
        <div class="panel-body">
            
            <!-- Boton Volver -->
            <button type="button" class="btn btn-primary btn-sm" ng-click="volver()">
                <img src="img/grid/anterior.png" border="0"/>
                Volver
            </button>
            <!-- Boton nuevo. -->
            <button type="button" class="btn btn-primary btn-sm" ng-click="nuevo()">
                <img src="img/grid/nuevo.png" border="0"/>
                Nuevo
            </button>

            <!-- Tabla de Mensajes -->
            <table class="table table-bordered table-striped">
                <tr>
                    <td>MENSAJE</td>
                    <td>COLOR</td>
                    <td>FONDO</td>
                    <td>FUENTE</td>
                    <td>TAMAÑO</td>
                    <td>ACCIONES</td>
                </tr>
                <tr ng-repeat="mensaje in model">
                    <td>{{mensaje.txt_msg}}</td>
                    <td style="background-color:{{mensaje.txt_front_color}};"></td>
                    <td>{{mensaje.txt_back_image}}</td>
                    <td>{{mensaje.txt_font_family}}</td>
                    <td>{{mensaje.txt_font_size}}</td>
                    <td>
                        <img src="img/grid/visualizar.png" class="btn btn-info btn-xs" ng-click="visualizar(mensaje.txt_id);">    
                        <img src="img/grid/modificar.png" class="btn btn-info btn-xs" ng-click="modificar(mensaje.txt_id);">    
                        <img src="img/grid/eliminar.png" class="btn btn-danger btn-xs" ng-click="eliminar(mensaje.txt_id);">
                    </td>
                </tr>
            </table>

        </div>
    </div>            
</div>