<div ng-show="formView">
    <app-main-menu appname="{{appname}}" username="{{username}}"></app-main-menu>
    
    <!-- Formulario: Tabla de audios -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Administrar Audios<small> Lista de audios del Monitor-Tv-{{tvId}}</small></h4>
        </div>
        <div class="panel-body">
            
            <!-- Boton 'Volver'. -->
            <button type="button" class="btn btn-primary btn-sm" ng-click="volver()">
                <img src="img/grid/anterior.png" border="0"/>
                Volver
            </button>

            <!-- Boton 'Nuevo'. -->
            <button type="button" class="btn btn-primary btn-sm" ng-click="nuevo()">
                <img src="img/grid/nuevo.png" border="0"/>
                Nuevo
            </button>

            <!-- Tabla de Mensajes -->
            <table class="table table-bordered table-striped">
                <tr>
                    <td>NOMBRE DEL ARCHIVO DE AUDIO</td>
                    <td>ACCIONES</td>
                </tr>
                <tr ng-repeat="audio in model">
                    <td>{{audio.aud_file}}</td>
                    <td>
                        <img src="img/grid/stop.png" class="btn btn-info btn-xs"   ng-click="stop();">
                        <img src="img/grid/play.png" class="btn btn-success btn-xs"   ng-click="play(audio.aud_file);">
                        <img src="img/grid/eliminar.png"  class="btn btn-danger btn-xs" ng-click="eliminar(audio.aud_id);">
                    </td>
                </tr>
            </table>

            <!-- Audio -->
            <audio id="audio"></audio>
            <!-- /Audio -->
        </div>
    </div>            

</div>