<div ng-show="formView">
    <app-main-menu appname="{{appname}}" username="{{username}}"></app-main-menu>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>{{titulo}} <small>{{subtitulo}}</small></h4>
        </div>
        <div class="panel-body">
            
            <!-- Boton 'Nuevo' -->
            <button type="button" class="btn btn-primary btn-sm" ng-click="nuevo()">
                <img src="img/grid/nuevo.png">
                Nuevo
            </button>

            <!-- Tabla de Datos -->
            <table class="table table-bordered table-striped">

                <tr>
                    <td>NOMBRE</td>
                    <td>LOGIN</td>
                    <td>ESTADO</td>
                    <td>ACCIONES</td>
                </tr>

                <tr ng-repeat="usuario in usuarios">
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.login}}</td>
                    <td>{{usuario.estado}}</td>
                    <td>
                        <button class="btn btn-info btn-xs"    ng-click="visualizar(usuario.id)"><img src="img/grid/visualizar.png"/></button>
                        <button class="btn btn-info btn-xs"    ng-click="modificar(usuario.id)" ><img src="img/grid/modificar.png" /></button>
                        <button class="btn btn-info btn-xs"    ng-click="estado(usuario.id,usuario.estado)"    ><img src="img/grid/estado.png"    /></button>
                        <button class="btn btn-danger btn-xs"  ng-click="eliminar(usuario.id)"  ><img src="img/grid/eliminar.png"  /></button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>