<div ng-show="formView">
    <app-main-menu appname="{{appname}}" username="{{username}}"></app-main-menu>
    
    <!-- Formulario: Tabla de mensajes -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Administrar Monitores<small> Lista de monitores</small></h4>
        </div>
        <div class="panel-body">
            
            <!-- Boton nuevo. -->
            <button type="button" class="btn btn-primary btn-sm" ng-click="nuevo()">
                <img src="img/grid/nuevo.png" border="0"/>
                Nuevo
            </button>

            <!-- Tabla de Mensajes -->
            <table class="table table-bordered table-striped">
                <tr>
                    <td>MONITOR</td>
                    <td>FONDO</td>
                    <td>DIRECCION</td>
                    <td>TIEMPO</td>
                    <td>INTERVALO</td>
                    <td>ACCIONES</td>
                </tr>
                <tr ng-repeat="mensaje in mensajes">
                    <td>{{mensaje.tv}}</td>
                    <td style="background-color:{{mensaje.backcolor}};"></td>
                    <td>{{mensaje.playdirection}}</td>
                    <td>{{mensaje.playtime}}</td>
                    <td>{{mensaje.playinterval}}</td>
                    <td>
                        <img src="img/grid/visualizar.png" class="btn btn-info btn-xs" ng-click="visualizar(mensaje.id);">    
                        <img src="img/grid/modificar.png" class="btn btn-info btn-xs" ng-click="modificar(mensaje.id);">    
                        <img src="img/grid/eliminar.png" class="btn btn-danger btn-xs" ng-click="eliminar(mensaje.id);">
                        |
                        <img src="img/grid/mensajes.png" class="btn btn-primary btn-xs" ng-click="mensajesF(mensaje.id)" alt="Editar Mensajes">
                        <img src="img/grid/audios.png"   class="btn btn-primary btn-xs" ng-click="audios(mensaje.id)"   alt="Editar Audios">
                        <img src="img/grid/lanzar.png"   class="btn btn-success btn-xs" ng-click="lanzar(mensaje.id)"   alt="Lanzar Presentación">
                    </td>
                </tr>
            </table>
        </div>
    </div>            


</div>