<div ng-show="status">
    <app-main-menu appname="{{appname}}" username="{{username}}"></app-main-menu>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>{{titulo}} <small>{{subtitulo}}</small></h4>
        </div>
        <div class="panel-body form form-inline">
            <div ng-bind-html="alert"></div>
            <input type="button"   class="btn btn-danger btn-md"  ng-click="cancel()" value="Cancelar"/>
            <input type="button"   class="btn btn-success btn-md" ng-click="submit()" value="Aceptar"/>
        </div>
    </div>
</div>